

* { margin: 0;padding: 0; border: 0; font-weight: inherit;
 font-style: inherit; font-size: inherit; font-family: inherit; 
 text-decoration: none; outline: 0; }

b, strong { font-weight: bold; }
i, em { font-style: italic; }
u { text-decoration: underline; }

ul 
{ 
 list-style: none; 
}

label 
{ 
 cursor: pointer; 
}

body 
{ 
	padding: 0 20px;
	font-size: 12px;
	font-family: Tahoma, Trebuchet MS, Verdana;
  color: #000;
  text-decoration: none;
  background: url('body.png') repeat-x center top #000;
  border: 0px solid red;
}

h1 
{ 
  font-size: 22px; 
}   

h3 
{ 
  font-size: 18px;        	
}

h2 {
	color: #6699FF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: medium;
	margin: 0 0 10px 8px;
	padding:0;
}

p
{
 margin: 5 0 5 0;
}
/* My Profile */
#im
{
 font-style: italic;
 font-size: 10px;
}

/* VoIP   */
.up
{
 margin: 0 0 10 0;
}

#img-mumb
{
 width: 99px;
 height: 100px;
 float: right;
 margin: -14 462 -40 462;
}

#ip
{
 border: 0px solid red;
 width: 140px;
 height: 23px;
 float: right;
 margin: 67px -94px 0px 0px;
 
}

#s1
{
 margin: 0 0 0 85;
}

.mez
{
 height: 10px;
}

#s2
{
 margin: 5px 0px 0px 0px;
}

#s3
{
 padding: 0 0 0 154px;
 border: 0px solid red;
}

#s4
{
 margin: 0 0 0 50;
}

#m1
{
 margin: 0 0 0 130;
}
/* VoIP   */


.w3c 
{
  width: 90px;
  height: 33px;
  float: right;
  margin-top: 5px;
  padding-top: 4px;
  border: 0px solid red; 
}

.google 
{
  width: 730px;
  height: 122px;
  float: right;
  padding-top: 5px;
  border: 0px solid red; 
}

#x
{
 padding: 55 200 0 0;
 margin:  0 0 0 -10;
 border: 0px solid red;
}

#mainwrapper 
{ 
  width: 1250px;
  margin: 0 auto; 
  background: url('header.png') no-repeat left top;
  border: 0px solid red; 
}

.title { 
border: 0px solid red;
 height: 95px; 
 text-align: left; 
}
.title h1 { 
  display: block; 
  padding: 20px 0 0 0; 
  font-size: 30px; 
  color: #fff; 
}

.title h3 { 
  display: block; 
  padding: 3px 0 0 0; 
  font-size: 12px; 
  color: #158ca6; 
}

.title #pocitadlo { 
  display: block; 
  float: right; 
  margin: 30px 20px 0 0; 
}

.title a:hover {
  text-decoration: none;
  color: black;
}

.title a:visited {
  text-decoration: none;
  color: black;
}

.title a:link{
  text-decoration: none;
  color: black;
}

.title a {
  text-decoration: none;
  color: black;
}

#moje { 
  border: 0px solid red;
  width: 30px;
  height: 10px; 
}
         
.main {
  border: 0px solid red;
  height: 484px  ;
  width: 1250px;
  padding: 15px 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;  	
	font-size: medium;
  overflow: auto;          
}

#img
{
  width: 560px;
  height: 420px;
  border: 0px solid red;
  margin: 31px auto;   
}

#fmain
{
  border: 0px solid red;
  height: 512px;
  width: 1020px;
  margin: 0 auto 2px auto;
  background: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;  	
	font-size: medium;
  overflow: auto;          
}

a, a:link, a:visited 
{ 
  color: #158ca6; 
  text-decoration: underline; 
}

a:hover 
{ 
  text-decoration: none; 
}

.menu a 
{ 
  display: block; 
  float: left; 
  margin: 0px 15px; 
  padding: 25px 15px 10px 15px; 
  font-size: 14px; 
  line-height: 14px; 
  color: #fff; 
  text-decoration: none; 
  background: url('arrow.png') no-repeat center top;
  border: 0px solid red; 
}

.menu a:hover { 
  text-decoration: underline; 
}

.obal 
{
  height: 390px;
  width: 1000px;
  border: 0px solid blue;       
}
     
.obal > #profa 
{      
  width: 90px;
  float: left;
  margin: 10px 0;
  border: 0px solid red;    
}

.obal > #profb 
{
  border: 3px solid silver;
  font-weight: normal;
	font-style: normal;
	font-size: 16px;
	font-family: Tahoma, Trebuchet MS, Verdana;
  color: #000;
  text-decoration: none;
  padding: 2px;
  width: 375px;
  float: left;
  margin: 10px 0;
        
}

#pokec 
{
  border: 0px solid red;
  font-weight: normal;
	font-style: normal;
	font-size: 16px;
	font-family: Tahoma, Trebuchet MS, Verdana;
  color: #000;
  text-decoration: none;
  padding: 2px;
  width: 468px;
  float: left;
  margin: 5px 195px -63px;
        
}

.obal > #prava 
{ 
 border: 0px solid red;   
 width: 515px;
 height: 350px;
 float: right;
 margin: 1px 0px 0px 10px;
 border: 0px solid red;
}

.obal > #alexa 
{
  height: 95px;
  width: 120px;
  float: left;
  margin: 10px;
  border: 0px solid red;      
}

 
.obal > #shay 
{
  height: 139px;
  width: 120px;
  float: left;
  margin: 10px;
  border: 0px solid red;
}

.obal > #part1
{
  height: 145px;
  width: 155px;
  float: left;
  margin: 10px;
  border: 0px solid black;
}

#redhill
{
   height: 35px;
   width: 140px;
   border: 0px solid red;
}

#ubuntu
{
   height: 40px;
   width: 150px;
   border: 0px solid red;
   margin-top: 5px;
}

#ubuntu_forum
{
   height: 40px;
   width: 150px;
   border: 0px solid red;
   margin-top: 5px
}       

.obal > #part
{
  height: 160px;
  width: 135px;
  float: left;
  margin: 10px;
  border: 0px solid black;
}

#ndr 
{
  height: 36px;
  width: 131px;
  float: left;
  border: 0px solid red;
}

#ogame 
{
  height: 36px;
  width: 111px;
  float: left;
  margin-top: 5px;
  border: 0px solid red;
}

#fansite 
{
  height: 32px;
  width: 90px;
  float: left;
  margin-top: 5px;
  border: 0px solid red;
}

#lamer
{
  height: 32px;
  width: 90px;
  float: left;
  margin-top: 5px;
  border: 0px solid red;
}
.obal > #mezera
{
  height: 160px;
  width: 200px;
  float: left;
  margin: 10px;     
  border: 0px solid red;
}

.obal > #efirefox 
{
  height: 87px;
  width: 120px;
  margin: 10px;
  float: left;
  text-align: center;
  border: 0px solid red;
}

.obal > #dolni1
{
  height: 220px;
  width: 970px;
  margin: 10px;
  float: left;
  border: 0px solid red;
}

#t
{
 height: 64px;
 width: 512px;
 float: left;
 border: 0px solid red;
}

#war-forum
{
  height: 41px;
  width: 200px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  border: 0px solid black;
}

#heavy
{
  height: 37px;
  width: 160px;
  float: left;
  margin: 10px;
  border: 0px solid black;
}

#ubbp 
{
  height: 32px;
  width: 32px;
  float: left;
  margin: 10px;
  border: 0px solid red;
}

#titans 
{
  height: 300px;
  width: 300px;
  float: right;  
  border: 0px solid red;
}
# browsers
{

}
